{{! open http://localhost:4200/scientists to see the h2 header within application.hbs}}
{{! model as |scientist| needs to match item used, "scientist"}}
{{!-- <ul>
    {{#each model as |scientist|}}
        <li>{{scientist}}</li>
    {{/each}}
</ul> --}}

{{people-list title="List of Scientists" people=model}}
{{outlet}}